<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weathernaut</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Lightbox2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

    <!-- Personal -->
    <link href="/static/weather-app.png" rel="icon">
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <header>

        <!-- #region: Page Title and Logo -->
        <h1> 
            <img src="/static/weather-app.png" class="weather_logo"> 
            Weathernaut
        </h1>
        <!-- #endregion: Page Title and Logo -->

        <!-- #region: userForm: Lat, Long -->
        <form id="userForm" method="post" action="/">
            <div class="input-container">
                <button type="submit">(+) Location</button>
                <span>:</span>
                <input type="text" id="latitude" name="latitude" placeholder="Latitude" required autocomplete="off">
                <span>,</span> 
                <input type="text" id="longitude" name="longitude" placeholder="Longitude" required autocomplete="off">
            </div>
        </form>
        <!-- #endregion: userForm -->

    </header>

    <main>
        
        {% if forecasts is not none %}
            {% for forecast in forecasts %}
                <details class="list-item">
                    <!-- Collapsible Tab - Location, State, Elevation -->
                    <summary class="item-header">
                        <span class="flex-container">
                                {{ forecast.location.get("city", "Unknown City") }}, 
                                {{ forecast.location.get("state", "Unknown State") }}, 
                                {{ forecast.get("elevation", {}).get('value', 0) | meter_to_feet }} Feet
                        </span>
                                <button class="delete-button" data-id="{{ forecast.id }}">Delete</button>
                    </summary>
                        <section class="item-content">
                            <div class="short_Forecast_12hr_7days">

                                <table class="forecast_table">

                                    <!-- #region: Dates -->
                                    <tr>
                                        {% for period in forecast.forecastdata_periods %}
                                        <th>{{ period.get("name", "Unknown Name") }}</th>
                                        {% endfor %}
                                    </tr>
                                    <!-- #endregion: Dates -->
                                    
                                    <!-- #region: Weather Icons and Mouse-Hover-Over-Icon for Detailed Forecast -->
                                    <tr>
                                        {% for period in forecast.forecastdata_periods %}
                                        <td> 
                                            <div class="custom-tooltip">
                                                <img id="clickable_icon" src='{{ period["icon"] }}'/> 
                                                <span class='tooltip_detailed_forecast'>{{ period.get("detailedForecast", "") }}</span>
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <!-- #endregion: Weather Icons and Hover tooltip -->

                                    <!-- #region: Temperature -->
                                    <tr>
                                        {% for period in forecast.forecastdata_periods %}
                                        <td>{{ period.get("temperature",  "") }} {{ period.get("temperatureUnit", "") }}</td>
                                        {% endfor %}
                                    </tr>
                                    <!-- #endregion Temperature -->

                                    <!-- #region: Hours and Short Forecast -->
                                    <tr>
                                        {% for period in forecast.forecastdata_periods %}
                                        <!-- <div> -->
                                        <td class="centered_text">
                                            <span class="forecast_time">{{ period.get("startTime", "") | ISO_time_reformat }} - {{ period.get("endTime", "") | ISO_time_reformat }}</span>
                                            <br>
                                            <span class="forecast_text">{{ period.get("shortForecast", "") }}</span>
                                        </td>
                                        <!-- </div> -->
                                        {% endfor %}
                                    </tr>
                                    <!-- #endregion Hours and Short Forecast -->

                                </table>

                                <div> 

                                    <!-- #region: Collapsible - Hourly Forecast --> 
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_plot_{{ forecast.get('latitude') | replace('.', '_') | replace('-', '_') }}_{{ forecast.get('longitude') | replace('.', '_') | replace('-', '_') }}" aria-expanded="false" aria-controls="collapse_plot_{{ forecast.get('latitude') | replace('.', '_') | replace('-', '_') }}_{{ forecast.get('longitude') | replace('.', '_') | replace('-', '_') }}">
                                        Hourly Forecast 
                                    </button>
                                    <div class="collapse" id="collapse_plot_{{ forecast.get('latitude') | replace('.', '_') | replace('-', '_') }}_{{ forecast.get('longitude') | replace('.', '_') | replace('-', '_') }}">
                                        <div class="image-container">
                                            <!-- class="img-magnifier-container" CHANGE DIV CLASS TO THIS IF WHAT TO USE MAG GLASS-->
                                            <a href="{{ forecast.detailedForecastPlot_Image }}" data-lightbox="forecast" data-title="Detailed Forecast">
                                                <img src="{{ forecast.detailedForecastPlot_Image }}" alt="Hourly Forecast" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- #endregion Hourly Forecast -->
                                
                                </div>
                            
                            </div>
                        </section>
                </details>
            {% endfor %}
        {% endif %}

    </main>

    <footer>
        <p> Copyright Information, contact links, etc.</p>
    </footer>

    <!-- #region: Javascipt - footer scripts -->
    <!-- Bootstrap -->
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous">
    </script>
    
    <!-- Javascript -->
    <!-- <script src="/static/noaa.js"></script> -->
    <script src="/static/forecast.js"></script>
    <script src="/static/bootstrap_button_closed.js"></script>

    <!-- Lightbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <!-- #region InvokeZoomGlass -->
    <!-- <script>
        /* Execute the magnify function: */
        /* Specify the id of the image, and the strength of the magnifier glass: */
        magnify("detailed-forecast-plot", 1.5);
    </script> -->
    <!-- #endregion InvokeZoomGlass-->
    <!-- #endregion Javascript - foot scripts -->

</body>
</html>

<!-- #region: prototype : USE Jinja comments {# #} because this block of code uses Jinja bracket and thus gets evaluated by jinja even before the page is rendered. -->
{#
<section class="detailed_Forecast_12hr_7days">
    <h2>Detailed Forecast: <span class="elevation">{{ elevation["value"] | meter_to_feet }} Feet</span></h2>
    <div>
        <table class="table table-striped">
            <tbody>
                {% for period in forecastdata_periods %}
                <tr>
                    <th scope="row">{{ period["name"] }}<br>{{ period["startTime"] | ISO_time_reformat }} - {{ period["endTime"] | ISO_time_reformat }}</th>
                    <td>{{ period["detailedForecast"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
#}
<!-- #endregion: prototype -->